
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* nav*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  .main{
      width: 100%;
      height: 150vh;
  }

body{
    font-family: 'Work Sans', sans-serif;
    background-color:#06041c;
}

.navbar{
    width: 100%;
    /* overflow: hidden; */
    background-color: #0f0c29;
    /* position:fixed; */
    /* top:0; */
    height: 75px;
    margin: auto;
}


.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
    color:rgb(255, 255, 255)
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color:rgb(255, 255, 255);
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #352e96;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: rgb(255, 255, 255);
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}