<!DOCTYPE html>
<html lang="en"  dir="ltr">
<head>

    <title>Plasma Donor Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
     <style>
          button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    }
    button:hover{
    background: #6d44b8;
    }   
table, th, td {    
border: 1px solid rgb(68, 35, 84);  
margin-left: auto;  
margin-right: auto;  
border-collapse: collapse;    
width: 500px;  
text-align: center;  
font-size: 20px;  
}       
     </style>
    


</head>
<body1>

    <div class="main">
        <div class="navbar">
            <div class="menu">
                <ul>
                  <li><a href="/"></a></li>
                  <li><a href="/base">DASHBOARD</a></li>
                  <li><a href="aboutme">ABOUT</a></li>
                  <li><a href="/">LOGOUT</a></li>
                  <li><a href="faq">FAQ</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
      

        <br>

        <div>
            <table>
                <tr>
                  <th style="color:#ff1616">NAME</th>
                  <th style="color:#ff1616">EMAIL</th>
                  <th style="color:#ff1616">PHONE</th>
                  <th style="color:#ff1616">BLOODGROUP</th>          
                  <th style="color:#ff1616">ADDRESS</th>
                  <th style="color:#ff1616">DISTRICT</th>
                  <th style="color:#ff1616">STATE</th>
                  <th style="color:#ff1616">AGE</th>
                </tr>
                {% for row in d %}
                <tr>
                  <td style="color:#ffffff">{{row["NAME"]}}</td>
                  <td style="color:#ffffff">{{row["EMAIL"]}}</td>
                  <td style="color:#ffffff">{{row["PHONE"]}}</td>
                  <td style="color:#ffffff">{{row["BLOODGROUP"]}}</td>
                  <td style="color:#ffffff">{{row["ADDRESS"]}}</td>
                  <td style="color:#ffffff">{{row["DISTRICT"]}}</td>
                  <td style="color:#ffffff">{{row["STATE"]}}</td>
                  <td style="color:#ffffff">{{row["AGE"]}}</td>
                </tr>
              {% endfor %}
              </table>
        </div>
        <br>

        <footer>
            <div class="main-content">
              <div class="leftbox">
                <h2 style="color:#fff;">Developed By: </h2>
                <div class="content2" style="color:#fff;">
                  <p>
                    User Interface : Parvadhavarthini S <br>
                    Database Connected By: Samyuktha G U
                  </p>
                  <div class="social">
                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-youtube"></span></a>
                  </div>
                </div>
              </div>

              <div class="rightbox">
                <h2 style="color:#fff;">Contact us</h2>
                <div class="content3">
                  <form action="#">
                    <div class="email">
                      <div class="text">Email </div>
                      <input type="email" placeholder="Email" required>
                    </div>
                    <div class="msg">
                      <div class="text">Message</div>
                      <textarea rows="2" cols="25" placeholder="Message" required></textarea>
                    </div>
                    <div class="btn">
                      <button type="button" class="btn btn-light">Send</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="bottom">
               <center>
                <span class="credit">Created By <a href="#">avc college </a> |</span>
                <span class="far fa-copyright"></span><span> 2022 All rights reserved.</span>
              </center>
            </div>
          </footer>
        
      

        
        
        
       
        
    
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body1>
</html>