body{
    text-align: center;
    background-color: rgb(127, 255, 244);
  
  }
  img{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    width: 500px;
  }