<!DOCTYPE html>
<html lang="en"  dir="ltr">
<head>

    <title>Plasma Donor Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sty.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   
    


</head>
      <body bgcolor="#0f0c29">
        
    <div class="main">
        <div class="navbar">
            <div class="menu">
                <ul>
                    <li><a href="/"></a></li>
                    <li><a href="/">HOME</a></li>
                    <li><a href="about">ABOUT</a></li>
                    <li><a href="aboutme">CONTACT</a></li>
                    <li><a href="/">LOGOUT</a></li>
                </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>
            
        </div>
    

    <br>
    <br>
    <br>

    <div class="col-div-3">
        <div class="box">
            <p><a style="text-decoration:none" href="reques">REQUEST PLASMA</a></p>
            
        </div>
    </div>
    <div class="col-div-3">
        <div class="box">
            <p><a style="text-decoration:none" href="donor">DONATE PLASMA</a></p>
        </div>
    </div>
    <div class="col-div-3">
        <div class="box">
            <p><a style="text-decoration:none" href="">NEAREST CAMPS</a></p>
        </div>
    </div>
    <div class="col-div-3">
        <div class="box">
            <p><a style="text-decoration:none" href="">MY PROFILE</a></p>
        </div>
    </div>
    
    </div>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "97686490-3e72-427c-87f4-896833b04329", // The ID of this integration.
          region: "jp-tok", // The region your integration is hosted in.
          serviceInstanceID: "15e1d621-fb36-46b8-b4ca-51c1bfc104ff", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
    </body>
</html>